
// COLORS

$color-primary:#192a56;
$color-primary-light:#60A3BC;
$color-primary-mid:#0984e3;

$color-secondary: #fffa6a;
$color-secondary-dark: #f3630f;

$color-tertiary: #25b636;
$color-tertiary-dark:#009432;

$color-white:#fff;
$color-black:#000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;
$color-grey-light:#f5f6fa;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal: 6rem;


// FONT

$default-font-size:1.6rem;