
.header{
  height: 95vh;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  
  @include respond(tab-port){
    height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  }
  
  &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  
    @include respond(tab-port){
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: 4rem;
      transform: translateX(-50%);
    }
  }
  
  &__logo{
    width: 10rem;
  
    @include respond(tab-port){
      width: 8rem;
    }
  }
  
  &__text-box{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  
    @include respond(tab-port){
      position: absolute;
      margin-top: 6rem;
    }
  }
}